<div class='info'>
	<h4>
		<%= link_to "#{album.titulo} [#{album.lancado_em.year}]", album_path(album)%>
	</h4>
	<span class='nota'>
		<span class='star-<%= album.nota %>'><%= album.nota %></span>
	</span>
	<ol>
		<%= render album.faixas %>
	</ol>
</div>